<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
   <add name="weatherforecastConn"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Samples\weather-data.xls;Extended Properties=Excel 8.0;HDR=YES"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>